extends layout
block content
	div.jumbotron
		h2 Conoce Nuestras Bellas Candidatas.
		table
			tr
				td	
					h6
						| Jennyfer Karina.
				td
					h6
						| Tatiana Elizabeth.
				td
					h6
						| Merlin Dalila.
						
			tr
				td
					img(src='/img/c1.jpg',alt="Mi logo", width="300px", height="300px")
				td
					img(src='/img/c2.jpg',alt="Mi logo", width="300px", height="300px")
				td
					img(src='/img/c3.jpg',alt="Mi logo", width="300px", height="300px")
			tr
				td	
					h6
						| Nahomy Adelina.
				td
					h6
						| Keylas Damaris.
				td
					h6
						| Yudith Hernandez.
			tr
				td
					img(src='/img/c4.jpg',alt="Mi logo", width="300px", height="300px")
				td
					img(src='/img/c6.jpg',alt="Mi logo", width="300px", height="300px")
				td
					img(src='/img/c7.jpg',alt="Mi logo", width="300px", height="300px")
include footer