extends layout
block content
	table
		tr
			td(width="500px", align="center", valign="top")
				div.jumbotron
				h1= title
				p.lead
					| Gracias por visitarnos!!!
					br
					| Conoce las candidatas de nuestro querido EL SALVADOR.
					| Suscribete y vota por la que tu prefieres, apoya a tu favorita!!!
				a(class="btn btn-large btn-success", href="/suscribete") Suscribete Hoy!
			td
				img(src='/img/logo.jpg',alt="Mi logo", width="500px", height="600px")