extends layout
block content
	div.jumbotron
		h2 Gracias por visitarnos!!!
		p.lead
			| Para poder participar en la seleccion de tu candidata preferida es necesario que estes registrado. 
			| Cuando estes subscrito se te enviara un e-mail a tu cuenta para confirmar tu registro y pudas realizar tu eleccion.
		a(class="btn btn-large btn-success", href="/suscribete") Suscribete Aqu&iacute!