doctype 5
html(lang="es")
	head
		meta(harset="utf-8")
		title= title
		link(rel="stylesheet", href="/css/bootstrap.css")
		link(rel="stylesheet", href="/css/style2.css")
	body
	section.container
		include partes/menu
		block content
		include footer