extends layout
block content
	div.jumbotron
		h1= title
		p.lead
			| Esto es una prueba de SPERESDAJ
			| LKAJDHFAHLDFKAJHLDJFHALJDHFALHJ
			| LAKJHLJHLAKJDJKFHALJHJDKFH
			| qeriqoueprqoierupoqieurpqur
			| ;lakdjf;z,mcnv.z,mnv;
		a(class="btn btn-large btn-success", href="#") Inicia Hoy
	