aside
  p
    |Capital: San Salvador.
  p
    |Moneda: D&oacute;lar de EE-UU.
  p
    |Presidente: Mauricio Funes.
  p
    |Poblaci&oacute;n: 6.227.491 (2011) Banco Mundial.
  p
    |Idioma oficial: Idioma espa&ntilde;ol.