header
	section
		a(href='/') 
			img(src='/img/logo.jpg',alt="Mi logo", width="175px", height="150px")
		h1 BELLEZA LATINA!!!.
		H1 MISS UNIVERSO 2013.
div.masthead
	div.navbar
		div.navbar-inner
			div.container
				ul.nav
					li.active: a(href='/') Inicio
						img(src='/img/home.png',alt="Mi logo", width="30px", height="30px")
					li: a(href='/bellezas') Nuestras Bellezas
					li: a(href='/contactanos') Contactanos
					li: a(href='/login') Log-In
					li: a(href='/info') Info!!